table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.list-people-card {
  min-width: 120px;
  margin: 10px;
}

td, th {
    width: 25%;
}

.row-clicked {
    font-weight: bold;
}

mat-spinner {
  margin: auto;
}