<mat-card>
  <mat-card-content>
    <mat-card-title>
      Utilize a barra de pesquisa para buscar
    </mat-card-title>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Procure pelo nome ou nº do registro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite um nome ou nª de registro" #input>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="seqId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Registro </th>
          <td mat-cell *matCellDef="let row"> {{row.seqId}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Paciente </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="healthInsurance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Convênio </th>
          <td mat-cell *matCellDef="let row"> {{row.healthInsurance}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhum dado encontrado para "{{input.value}}"</td>
        </tr>
        <tr
          mat-row
          (click)="clicked()"
          [class.row-clicked]="true"
        ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleção de páginas"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>