.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.mat-toolbar.labmedical {
  justify-content: center;
}

.sidenav {
  width: 220px;
}

.toolbar {
  justify-content: space-between;
}

.user-section {
  display: flex;
  justify-content: center;
}