<form [formGroup]="addAppointmentForm" novalidate>
  <mat-card class="add-appointment-card">
    <mat-card-actions class="add-form-button-group">
      <mat-slide-toggle>Editar</mat-slide-toggle>
      <button mat-stroked-button color="warn">DELETAR</button>
      <button mat-raised-button color="primary">SALVAR</button>
    </mat-card-actions>
    <mat-card-content>
      <mat-card-title>Consulta de [Nome do Paciente]</mat-card-title>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Motivo da Consulta</mat-label>
            <input matInput placeholder="Informe o motivo da consulta" formControlName="subject">
            <mat-error *ngIf="addAppointmentForm.controls['subject'].hasError('required')">
              O motivo da consulta é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data da consulta</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="addAppointmentForm.controls['date'].hasError('required')">
              A data da consulta<strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Hora da consulta</mat-label>
            <input type="time" matInput formControlName="time">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Descrição do Problema</mat-label>
          <textarea matInput placeholder="Informe a descrição do problema..." formControlName="description"></textarea>
          <mat-error *ngIf="addAppointmentForm.controls['description'].hasError('required')">
            A descrição é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Medicação Receita</mat-label>
          <textarea cols="30" rows="5" matInput placeholder="Informe a descrição do problema..." formControlName="medicatoin"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Dosagem e precauções</mat-label>
          <textarea cols="30" rows="5" matInput placeholder="Informe a detalhes da dosagem e precauções..." formControlName="precaution"></textarea>
          <mat-error *ngIf="addAppointmentForm.controls['precaution'].hasError('required')">
            Este campo é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>