.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card.stats-card {
  min-width: 390px;
  min-height: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content.stat-card-content {
  display: flex;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
}

card-content {
  display: flex;
}

.full-width {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}