<h2 mat-subheader>Estatísticas do Sistema</h2>
<div class="stats">
  <div class="item">
    <mat-card class="stats-card">
      <mat-card-content class="stat-card-content">
        <img src="https://img.icons8.com/material-outlined/96/null/conference-call.png" alt="people icon">
        <p>{{ getPeopleLength() || "0" }}</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Pacientes</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="item">
    <mat-card class="stats-card">
      <mat-card-content class="stat-card-content">
        <img src="https://img.icons8.com/material-outlined/96/null/stethoscope.png" alt="appointment icon">
        <p>{{ getAppointMentCount() || "0" }}</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Consultas</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="item">
    <mat-card class="stats-card">
      <mat-card-content class="stat-card-content">
        <img src="https://img.icons8.com/material-outlined/96/null/treatment-list.png" alt="exam icon">
        <p>{{ getExamsCount() || "0" }}</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Exames</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<h2 mat-subheader>Informações Rápidas de Pacientes</h2>
<div class="col search">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Procurar paciente</mat-label>
    <input matInput placeholder="Para procurar, digite o nome, e-mail ou o telefone do paciente..." #input>
  </mat-form-field>
</div>
<div *ngIf="!people" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="people-card-container">
  <div class="people-detail-card-container"
       *ngFor="let person of people">
    <mat-card class="person-detail-card">
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-icon">person</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">
          {{ person.name }}
        </mat-card-title>
        <p>30 anos</p>
        <p>{{ person.phoneNumber}}</p>
        <p>{{ person.healthInsurance }}</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>
</div>