<div class="stats">
  <div class="item">
    <mat-card class="stats-card">
      <mat-card-content class="stat-card-content">
        <img src="https://img.icons8.com/material-outlined/96/null/conference-call.png" alt="people icon">
        <p>70</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Pacientes</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="item">
    <mat-card class="stats-card">
      <mat-card-content class="stat-card-content">
        <img src="https://img.icons8.com/material-outlined/96/null/stethoscope.png" alt="appointment icon">
        <p>104</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Consultas</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="item">
    <mat-card class="stats-card">
      <mat-card-content class="stat-card-content">
        <img src="https://img.icons8.com/material-outlined/96/null/treatment-list.png" alt="exam icon">
        <p>82</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Exames</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div class="col search">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Digite o nome do paciente</mat-label>
    <input matInput placeholder="Para procurar, digite o nome do paciente..." #input>
  </mat-form-field>
</div>

<div class="people-card-container">
  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="people-detail-card-container">
    <mat-card class="person-detail-card">
      <mat-card-content>
        <mat-card-title class="person-detail-card-title">Cesar Abscal</mat-card-title>
        <p>30 anos</p>
        <p>(55) 9 8224-4534</p>
      </mat-card-content>
      <mat-card-footer>
        <a href="#">Ver mais</a>
      </mat-card-footer>
    </mat-card>
  </div>
</div>