<div class="login-page">
  <div class="left-side">
    <div class="left-side-header">

    </div>
    <img src="/assets/labmedical-cover.png" alt="labmedical cover" class="cover">
    <div class="left-side-footer">
      <img src="/assets/lab365-logo.png" alt="lab365 logo" class="lab365-logo">
    </div>
  </div>
  <div>
  </div>
  <div class="right-side">
    <header>
      <p>Não possui uma conta?</p>
      <button mat-stroked-button color="primary">Criar conta</button>
    </header>
    <form class="form">
      <h2 class="mat-title">Login</h2>
        <mat-form-field class="row" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" class="full-width">
        </mat-form-field>
        <mat-form-field class="row" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" class="full-width">
        </mat-form-field>
      <div class="login-button">
        <button mat-raised-button color="primary">Entrar</button>
      </div>
      <div class="col">
        <a href="#" class="row">Esqueceu sua senha?</a>
      </div>
    </form>
    <footer>
      <div class="login-footer">
        <img src="/assets/labmedical-logo.png" alt="labmedical logo" class="labmedical-logo">
        <p>LABMedical</p>
      </div>
    </footer>
  </div>
</div>
